server {
  listen 80;
  server_name ${LOKI_HOST};

  location / {
    proxy_pass http://${LOKI_NAME}:${LOKI_INTERNAL_PORT};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }
}
