apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://${PROMETHEUS_NAME}:${PROMETHEUS_INTERNAL_PORT}
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://${LOKI_NAME}:${LOKI_INTERNAL_PORT}
    editable: true
